<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MR Backend</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='/favicon/site.webmanifest') }}">
</head>

<body>
    <div id="notification">Notification message</div>
    <section>
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            <div id="error" style="color: red; display: none;"></div>
            <a href="/register">Don't have an account? Register here.</a>
        </form>
    </section>
    <section>
        <h2>Login with Code</h2>
        <div class="section-div">
            <input type="text" id="login-code"></input>
            <button id="login-code-button">Get Login Code</button>
            <button id="code-verify-button">Login with Code</button>
            <strong>
                <p id="login-code-notice">**Please verify the code on an existing session**</p>
            </strong>
        </div>
    </section>
    <script>
        function showNotification(message, duration = 3000) {
            const notification = document.getElementById('notification');
            notification.innerText = message;
            notification.style.display = 'block';

            setTimeout(() => {
                notification.style.display = 'none';
            }, duration);
        }
        async function copyToClipboard(text) {
            try {
                await navigator.clipboard.writeText(text);
                showNotification("Code copied to clipboard.")
            } catch (err) {
                console.error('Failed to copy text: ', err);
            }
        }
        document.getElementById('login-form').addEventListener('submit', function (event) {
            event.preventDefault();
            var formData = new FormData(event.target);
            fetch("/token", {
                method: "POST",
                body: formData // This should be formData, not FormData
            })
                .then(response => {
                    if (!response.ok) {
                        // If the response status is not OK, throw an error
                        return response.json().then(err => { throw err; });
                    }
                    return response.json();
                })
                .then(data => {
                    // Store the token in local storage
                    //localStorage.setItem('access_token', data.access_token);
                    window.location = "/";
                })
                .catch(error => {
                    console.error('Error:', error);
                    var errorDiv = document.getElementById("error"); // You should use document.getElementById
                    errorDiv.style.display = 'block';
                    errorDiv.innerText = error.detail;
                });
        });
        document.getElementById("login-code-button").addEventListener('click', async () => {
            try {
                const response = await fetch('/login_code');
                const result = await response.json();
                if (!response.ok) {
                    throw result;
                }
                document.getElementById("login-code").value = result.login_code;
                document.getElementById("login-code-button").style.display = "none";
                document.getElementById("code-verify-button").style.display = "block";
                document.getElementById("login-code-notice").style.color = "black";
                document.getElementById("login-code-notice").innerText = "**Please verify the code on an existing session**";
                copyToClipboard(result.login_code);
            }

            catch (error) {
                console.error(`There was a problem fetching for login code: ${error.detail}`);
                document.getElementById("login-code-notice").innerText = error.detail;
                document.getElementById("login-code-notice").style.color = "red";
                document.getElementById("login-code-button").style.display = "block";
                document.getElementById("code-verify-button").style.display = "none";
            }
        })
        document.getElementById("code-verify-button").addEventListener('click', async () => {
            try {
                const response = await fetch('/login_code/token', {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ login_code: document.getElementById("login-code").value })
                });
                const result = await response.json();
                if (!response.ok) {
                    throw result;
                }
                document.getElementById("login-code-notice").innerText = "**Login Success**";
                document.getElementById("login-code-notice").style.color = "green";
                setTimeout(function () {
                    window.location = '/';
                }, 1000);
            }
            catch (error) {
                console.error(`Failed to login with code: ${error}`);
                document.getElementById("login-code-notice").innerText = `**${error.detail}**`;
                document.getElementById("login-code-notice").style.color = "red";
                document.getElementById("login-code-button").style.display = "block";
                document.getElementById("code-verify-button").style.display = "none";
            }
        })

    </script>
</body>

</html>