{% extends "base.html" %}
{% block content %}
<section>
    <div class="section-div">
        <h2>Verify Login Code</h2>
        <input type="text" id="login-code" placeholder="Enter your code"></input>
        <button id="verify-button">Verify</button>
        <strong>
            <p id="verify-code-notice"></p>
        </strong>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    const loginCodeInput = document.getElementById("login-code");
    const verifyButton = document.getElementById("verify-button");
    const verifyCodeNotice = document.getElementById("verify-code-notice");
    verifyButton.addEventListener('click', async () => {
        try {
            const response = await fetch('/api/v1/auth/login-code/verify', {
                method: "POST",
                headers: { "content-type": "application/json" },
                body: JSON.stringify({ login_code: loginCodeInput.value })
            });
            const result = await response.json();
            if (!response.ok) {
                throw result;
            }
            verifyCodeNotice.style.color = "green";
            verifyCodeNotice.innerText = `**Verification success!**`;
        }
        catch (error) {
            console.error(`Failed to login with code: ${error}`);
            verifyCodeNotice.style.color = "red";
            verifyCodeNotice.innerText = `**Verification Failed!**`;
        }

    });
</script>
{% endblock %}