body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

header img {
    height: 50px;
    margin-left: 20px;
}

.home-anchor {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-item-box {
    margin-right: 20px;
    min-width: 70px;
    text-align: center;
    background-color: #fff;
    /* Light gray background */
    border-width: 0 1px;
    border-style: solid;
    border-color: #ccc;
    /* Light gray border */
    padding: 10px 20px;
    /* Padding around the text */
    border-radius: 0px;
    /* Rounded corners */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    /* Slightly dark shadow */
    transition: all 0.3s ease;
    /* Transition for hover effects */
}



.nav-item-box:hover {
    background-color: #eee;
    /* Darker gray when hovered */
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    /* Darker shadow when hovered */
}

.nav-item {
    text-decoration: none;
    color: black;
}

.nav-item:last-child .nav-item-box {
    margin-right: 0;
}

.nav-word {
    margin: auto;
}

@media screen and (max-width: 850px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .home-anchor {
        margin-bottom: 10px;
    }

    .nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    .nav-item {
        width: 80%;
    }

    .nav-item-box {
        margin-bottom: 20px;
        margin-right: 0px;

    }

    .user-info {
        margin-top: 10px;
    }
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 10px;
}

.log-out-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
}

input,
button {
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #286090;
}

.section-div {
    display: grid;
    gap: 10px;
}

#code-verify-button {
    display: none;
    background-color: #5cb85c;
}

#code-verify-button:hover {

    background-color: #449d44;
}

/* Styles for dynamically created elements */

#response div,
#status_result div {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#response div p,
#status_result div p {
    margin: 10px 0;
}

#response div .task_id,
#status_result div .task_id {
    font-weight: bold;
    color: #337ab7;
}

#response div .copyButton,
#status_result div .copyButton {
    display: inline-block;
    margin-top: 10px;
    background-color: #5cb85c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#response div .copyButton:hover,
#status_result div .copyButton:hover {
    background-color: #449d44;
}

#previewResults img {
    display: block;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progress-div {
    display: none;
    padding-top: 20px;
    height: 100px;
    width: 80%;
    margin: auto;


}

#progress-bar {
    /* Set a width if desired */
    width: 100%;
    height: 50%;
}

.spinner {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #337ab7;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.model-info-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
    width: 250px;
    /* Increase the width of card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fff;
}

.model-info-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.model-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.upload-preview {
    position: relative;
    width: 400px;
    height: 0;
    padding-bottom: 400px;
}

.model-info-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Set max-height to limit the image size */
}

.model-info-card .model-details {
    padding: 10px;
    font-size: 0.8em;
    /* Decrease the font size */
}

#model-info-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: repeat(auto-fill, 290px); */
    gap: 20px;
    justify-items: start;
}

#notification {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #444;
    color: #fff;
    text-align: center;
    z-index: 1000;
}